.card-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;

}



.card-img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-left: 10px;
}

.heart-fill-red {
    color: red;
}

.bi-heart {
    font-size: 2rem;
    cursor: pointer;
}

.info {
    background-color: #6BC047 !important;
    border: none;
}

.cosa {
    margin-right: 2px !important;
    align-items: stretch;
}

.cosa img {
    max-width: 300px;
    height: auto;
    margin-left: 10px;
}

.encabezadoGeneral h1 {
    padding: 12px;
    color: #52575B;
    font-size: 3.5rem;
}

.card-text {
    font-size: 0.75rem;
    line-height: 20px;
    margin-top: 7px;
}

.card-body h3 {
    color: #52575B;
}

.encabezadoGeneral img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .card-img {
        margin: 0;

    }

    .encabezadoGeneral h1 {
        padding: 12px;
        color: #52575B;
        font-size: 2rem;
    }

    .encabezadoGeneral img {
        max-width: 50%;
    }
}
.corazon{ margin: 7px 12px 0 12px;}
.mini-player{ margin: 0 12px;}

.heart-fill-red {
    color: red;
}

.bi-eye-fill {
    font-size: 2rem;
    cursor: pointer;
}
.ojo{  margin: 7px 12px 0 12px;}