.card-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;

}

@media (max-width: 768px) {
    .card-img {
        margin: 0;
    }
}

.card-img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-left: 10px;
}

.heart-fill-red {
    color: red;
}

.bi-heart {
    font-size: 2rem;
    cursor: pointer;
}

.info {
    background-color: #6BC047 !important;
    border: none;
}

.cosa {
    margin-right: 2px !important;
}

.bi,
.bi-suit-heart-fill {
    align-self: center;
    margin-right: 7px;
}

.encabezadoGeneral h1 {
    padding: 12px;
    color: #52575B;
    font-size: 3.5rem;
}