{% extends 'base.html.twig' %}

{% block title %}Edit Birds{% endblock %}

{% block body %}
   <div class="title-image-container1">
        <img src="{{ asset('images/petirojoIzq.png') }}" alt="Birds Image">
        <h1>Editar Aves</h1>
    </div>

    {{ include('birds/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="d-flex justify-content-end gap-2">

      <a class="btn btn-info" href="{{ path('app_birds_index') }}">Volver a la lista</a>
    </div>

    {{ include('birds/_delete_form.html.twig') }}
{% endblock %}
