{% extends 'base.html.twig' %}

{% block title %}Nueva Aves{% endblock %}

{% block body %}
    <div class="title-image-container1">
        <img src="{{ asset('images/petirojoIzq.png') }}" alt="Birds Image">
        <h1>Crear nueva Ave</h1>
    </div>

    {{ include('birds/_form.html.twig') }}

    <a href="{{ path('app_birds_index') }}">Volver a la lista</a>
{% endblock %}
