{% extends 'base.html.twig' %}

{% block title %}Edit Insect{% endblock %}

{% block body %}
<div class="title-image-container2">
    <img src="{{ asset('images/butterfly.svg') }}" alt="Mariposa Image">
    <h1>Edit Insect</h1>
</div>

    {{ include('insect/_form.html.twig', {'button_label': 'Update'}) }}

    <a type="button" class="btn btn-info" href="{{ path('app_insect_index') }}">Back to list</a>

    {{ include('insect/_delete_form.html.twig') }}
{% endblock %}
