{% extends 'base.html.twig' %}

{% block title %}New Insect{% endblock %}

{% block body %}
<div class="title-image-container2">
    <img src="{{ asset('images/butterfly.svg) }}" alt="Birds Image">
    <h1>Create new Insect</h1>
</div>
    {{ include('insect/_form.html.twig') }}

    <a type="button" class="btn btn-info" href="{{ path('app_insect_index') }}">back to list</a>
{% endblock %}
