<form method="post" action="{{ path('app_coordenadas_delete', {'id': coordenada.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coordenada.id) }}">
    <button class="btn">Delete</button>
</form>
