{% extends 'base.html.twig' %}

{% block title %}New Coordenadas{% endblock %}

{% block body %}
<div class="title-image-container1">
    <h1>Create new Coordenadas</h1>
</div>

    {{ include('coordenadas/_form.html.twig') }}

    <a type="button" class="btn btn-info" href="{{ path('app_coordenadas_index') }}">Back to list</a>
{% endblock %}
