{% extends 'base.html.twig' %}

{% block title %}New Coordenadas{% endblock %}

{% block body %}
    <h1>Create new Coordenadas</h1>

    {{ include('coordenadas/_form.html.twig') }}

    <a href="{{ path('app_coordenadas_index') }}">back to list</a>
{% endblock %}
