@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap%27');


* {
    font-family: 'Poppins', sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1C9BD5;
}

.logoBlanco {
    width: 450px;
    height: 450px;
    margin-bottom: 1rem;
}

.bocadillo {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 400px;
    position: relative;
    color: #52575B;

}

.bocadillo::before {
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    top: -15px;
    width: 0;
}

@media only screen and (max-width: 768px) {
    logoBlanco {
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
    }

    .bocadillo {
        width: 90%;
        margin: 0 1rem;
        padding: 0.5rem;
    }
}


@media only screen and (max-width: 480px) {
    .bocadillo {
        width: 100%;
    }
}

/*class buton*/

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}