<form method="post" action="{{ path('app_plant_delete', {'id': plant.id}) }}" onsubmit="return confirm('¿Estás seguro que quieres eliminar este registro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plant.id) }}">
    <button type="button" class="btn btn-danger">Eliminar</button>
</form>
